body {
	margin: 0;
	padding: 0;
	background: #666;
}

canvas {
	background: #fff;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

h2 {
	margin: 0;
	padding: 0;
}

.box {
	width: 200px;
	display: block;
	height: 200px;
	float:left;
	position:relative;
	/*border:10px solid black;*/
}
